:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


/* dropdowns */
.modal-backdrop.show {
    opacity: 0.5;
}

.modal.d-block {
    z-index: 1055;
}
.modal-backdrop.d-block {
    z-index: 1050;
}

.modal-body .dropdown-menu {
    z-index: 1060;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.table th.sortable {
    cursor: pointer;
}
.table th.sortable:hover {
    background-color: rgba(0,0,0,0.05);
}
.dark-mode .table th.sortable:hover {
    background-color: rgba(255,255,255,0.05);
}

.action-buttons button {
    margin-right: 5px;
}
.action-buttons button:last-child {
    margin-right: 0;
}

.filter-controls {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
